<div class="navbar navbar-expand-sm navbar-light navbar-cookbook">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo.png" %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", categories_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create a new category", new_category_path , class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: url(<%= image_path "banner.jpg"%>)">
  <div class="container">
    <h1>Cookbook</h1>
    <h2>Save all your favourite recipes</h2>
  </div>
</div>

<div class="container">

  <div class="info-top">
    <h1>My categories</h1>
    <div class="text-end">
      <%= link_to "Create a new category", new_category_path , class: "btn btn-warning" %>
    </div>
  </div>


  <div class="cards">
    <% @categories.each do |category| %>
      <%= link_to category_path(category) do%>
        <div class="card-category" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(category.photo.key) %>'); height: 300px;">
          <%= category.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
